# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

#Customed
**/.ipynb_checkpoints/*
**/logs/*
leo/model/*
leo/models/*.h5
leo/feature/*
# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# dotenv
.env

# virtualenv
.venv
venv/
ENV/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/

# ignore data folder 
data/
model/
mike/model_full
mike/predict_test
mike/predict_csv
mike/*.npy
mike/*.csv
mike/model_new
mike/predict_test_csv
mike/predict_train_csv
mike/resnet_varified
mike/predict_valid_csv
mike/predict_unverified_csv
mike/model_cnn2d/
mike/model_cnn2d_verified
mike/resnet_varified_refine
mike/cnn2d_verified_refine
mike/cnn2d_verified
mike/cnn2d_semi_test_csv
mike/restnet_semi_test_csv
mike/model_full_resnet
mike/test_semi_model
mike/model_full_cnn2d
mike/resnet_verified_refine
mike/resnet_semi_test_csv
mike/resnet_verified_refine_nonNormalize
mike/resnet_verified_refine_nonNormalize_semi2
mike/model_full_resnet152/
mike/model_full_resnet18_gen/	
mike/model_full_resnet18_gen_refine/
mike/model_full_resnet18_gen_refine_co/
mike/model_full_resnet2/
mike/model_full_resnet2_refine/
mike/model_full_resnet2_refine_co/
mike/model_full_resnet_refine/
mike/model_full_resnet18_gen/ 
mike/old_model
=======

# ignore useless cache
.*.un~

./leo/model/mfcc6/LGD_fold3_resnet1-.h5
./leo/model/mfcc6/fine_tune/LGD_fold3_self_resnet.h5
./leo/model/mfcc6/fine_tune/LGD_fold8_self_resnet.h5
./leo/model/mfcc6/LGD_fold0_self_resnet.h5
./leo/model/mfcc6/LGD_fold2_self_resnet.h5
./leo/model/mfcc6/LGD_fold8_co_resnet.h5
./leo/model/mfcc6/LGD_fold1_self_resnet.h5
./leo/model/mfcc6/LGD_fold7_self_resnet.h5
./leo/model/mfcc6/LGD_semi_fold5_resnet3.h5
./leo/model/mfcc6/LGD_fold4_self_resnet.h5
./leo/model/mfcc6/LGD_fold9_self_resnet.h5
./leo/model/mfcc6/LGD_fold6_self_resnet.h5
./leo/model/stacking/LGD_fold_stacking_410_dense4.h5
./leo/model/stacking/LGD_fold_stacking_410_dense2.h5
./leo/model/stacking/LGD_fold_stacking_410_dense3.h5
./leo/model/mfcc7/fine_tune/LGD_fold0_self_resnet.h5
./leo/model/mfcc7/LGD_fold2_self_resnet.h5
./leo/model/mfcc7/LGD_fold9_co_resnet.h5
./leo/model/mfcc7/LGD_fold8_co_resnet.h5
./leo/model/mfcc7/LGD_fold3_self_resnet.h5
./leo/model/mfcc7/LGD_fold1_self_resnet.h5
./leo/model/mfcc7/LGD_fold7_self_resnet.h5
./leo/model/mfcc7/LGD_fold4_self_resnet.h5
./leo/model/mfcc7/LGD_fold5_co_resnet.h5
./leo/model/mfcc7/LGD_fold0_co_resnet.h5
./leo/model/mfcc7/LGD_fold6_self_resnet.h5
./leo/data/phase1/fbank/test/test_X.npy
./leo/data/phase1/fbank/train3/train3_X.npy
./leo/data/phase1/mfcc/test/test_X.npy
./leo/data/phase1/mfcc/train3/train3_X.npy
./leo/feature/X_train_verified_3710.npy
./leo/feature/mfcc6/X_test.npy
./leo/feature/mfcc6/X_train.npy
./leo/feature/mfcc6/semi/Y_selftrain_ens_verified/X_co.npy
./leo/feature/mfcc6/semi/mike_res18/X_co.npy
./leo/feature/mfcc6/semi/jerry_mfcc3_resnet34_mixup_cotrain_Y/X_co.npy
./leo/feature/mfcc6/semi/mike_mfcc1_resnet18_cotrain_Y/X_co.npy
./leo/feature/mfcc6/X_unverified.npy
./leo/feature/mfcc7/X_test.npy
./leo/feature/mfcc7/X_train.npy
./leo/feature/mfcc7/semi/mow_res18/X_co.npy
./leo/feature/mfcc7/semi/Y_selftrain_ens_verified/X_co.npy
./leo/feature/mfcc7/semi/mow_mfcc4_resnet152_cotrain_Y/X_co.npy
./leo/feature/mfcc7/X_unverified.npy
./leo/feature/X_train_unverified_5763.npy
./leo/feature/raw/X_test.npy
./leo/feature/raw/X_train.npy
./leo/feature/raw/X_train_ens_verified.npy
